<div class="container show">
    <div class="row">
        <div class="col-md-2"><strong>Nama Murid</strong></div>
        <div class="col-md-10"><%= Murid.find(@daftar_kursu.murid_id).nama %></div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Jenis Kursus</strong></div>
        <div class="col-md-10"><%= JenisKursu.find(@daftar_kursu.jenis_kursu_id).jenis_kursus %></div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Nama Instruktur</strong></div>
        <div class="col-md-10"><%= Instruktur.find(@daftar_kursu.instruktur_id).nama %></div>
    </div>

    <%= link_to 'kembali', daftar_kursus_path, {class: 'btn btn-default'} %>
</div>